@model AgendamentoConsultaVeterinaria.Models.ConsultaModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ConsultaModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataConsultaId" class="control-label"></label>
                <select asp-for="DataConsultaId" class ="form-control" asp-items="ViewBag.DataConsultaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StatusConsulta" class="control-label"></label>
                <input asp-for="StatusConsulta" class="form-control" />
                <span asp-validation-for="StatusConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnidadeId" class="control-label"></label>
                <select asp-for="UnidadeId" class ="form-control" asp-items="ViewBag.UnidadeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AnimalId" class="control-label"></label>
                <select asp-for="AnimalId" class ="form-control" asp-items="ViewBag.AnimalId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MedicoId" class="control-label"></label>
                <select asp-for="MedicoId" class ="form-control" asp-items="ViewBag.MedicoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
